.edit-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh 0;

    .wrapper {
        background-color: white;
        width: 20%;
        margin: auto;
        margin-top: 20px;
        padding: 20px;

        .form {

            form {
                display: flex;
                align-items: baseline;
                justify-content: center;
                flex-direction: column;
                margin: 20px 0;

                input {
                    padding: 5px 15px 5px 5px;
                    margin: 10px;
                }

                button {
                    border: none;
                    padding: 5px 15px;
                    color: white;
                    border-radius: 2px;
                }
            }
        }
    }
}